.select__control {
  height: 48px;
}
.multi-user-search .select__control {
  height: unset !important;
  min-height: 48px;
}
.header-search {
  width: 220px;
}
@media (max-width: 767px) {
  .header-search {
    width: auto;
  }
}
@media (min-width: 1300px) {
  .header-search {
    width: 250px;
  }
}
@media (min-width: 2000px) {
  .header-search {
    width: 450px;
  }
}

.header-search .select__control {
  height: 48px;
  background-color: rgba(255, 255, 255, 0.94) !important;
  border: none !important;
  box-shadow: none !important;
}
.header-search .select__indicator-separator {
  display: none;
}
.header-search .select__placeholder,
.header-search .select__single-value {
  color: #ccc !important;
}

.select__menu {
  color: #000;
}
