.header {
  color: #fff;
  font-weight: 500;
  margin-top: 3%;
  font-size: 1.2rem;
}
.summary-height {
  height: 200px !important;
}

.kt-iconbox--animate-slower:after {
  bottom: 40% !important;
}

.kt-iconbox--brand.kt-iconbox--animate,
.kt-iconbox--brand.kt-iconbox--animate-fast,
.kt-iconbox--brand.kt-iconbox--animate-faster,
.kt-iconbox--brand.kt-iconbox--animate-slow,
.kt-iconbox--brand.kt-iconbox--animate-slower {
  background-color: rgba(101, 114, 120, 0.07) !important;
}
.kt-portlet__head {
  z-index: 2 !important;
}
.kt-widget17 .kt-widget17__stats .kt-widget17__items .kt-widget17__item {
}
